.footer {
  background-color: #00ffcc;
  border-radius: 5px;
  margin: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#head {
  font-family: "Staatliches", cursive;
}
.icons {
  padding: 20px;
  margin: 20px;
}
#licence {
  color: black;
}
